a {
  text-decoration: none;
}

.nav-bar {
  padding: 24px 10%;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
}

.nav-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
